services:

  kafka:
    image: apache/kafka:latest
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_NODE_ID: 1
      # Listeners: PLAINTEXT for clients, CONTROLLER for KRaft internal
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_LOG_DIRS: /tmp/kraft-combined-logs
      # Allow plaintext listener (needed for dev, no TLS)
      KAFKA_ALLOW_PLAINTEXT_LISTENER: "yes"
      # Only one broker for dev purpose so we don't expect replicas.
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
    networks:
      - shop_network

  fluentbit:
    image: fluent/fluent-bit:latest
    container_name: fluentbit
    restart: always
    volumes:
      - ./fluent-bit/fluent-bit.conf:/fluent-bit/etc/fluent-bit.conf
      - all_registers_logs:/cash_register/transactions
    ports:
      - "24224:24224"
    depends_on:
      - kafka
    networks:
      - shop_network

  register:
    build: ./cash_register
    volumes:
      - all_registers_logs:/cash_register/transactions
    depends_on:
      - fluentbit
    networks:
      - shop_network

  ksqldb-server:
    image: confluentinc/cp-ksqldb-server:latest-ubi9
    container_name: ksqldb-server
    ports:
      - "8088:8088"
    environment:
      KSQL_BOOTSTRAP_SERVERS: "kafka:9092"
      KSQL_LISTENERS: "http://0.0.0.0:8088"
      KSQL_KSQL_SERVICE_ID: "ksql_service_1"
      CONFLUENT_SUPPORT_METRICS_ENABLE: "false"
      KSQL_WEB_ENABLE_CORS: "true"
      KSQL_WEB_CORS_ALLOWED_ORIGINS: "http://localhost:3000"
      KSQL_WEB_CORS_ALLOWED_METHODS: "GET,POST,OPTIONS"
      KSQL_WEB_CORS_ALLOWED_HEADERS: "*"
    depends_on:
      - kafka
    networks:
      - shop_network

  ksqldb-cli:
    image: confluentinc/cp-ksqldb-cli:latest-ubi9
    container_name: ksqldb-cli
    depends_on:
      - ksqldb-server
    networks:
      - shop_network
    entrypoint: /bin/bash
    tty: true


networks:
  shop_network:
    driver: bridge


volumes:
  all_registers_logs: